.container {
    margin-bottom: 20vh;
    text-align: center;
    background-color: #fff;
}

.imageContainer {
    padding-top: calc(16px + (60 - 14) * ((100vw - 300px) / (1600 - 300)));
    display: inline-block;
}

.photo {
    width : calc(120px + 12vw);
}

.descriptionContainer {

    margin-left: 13%;
    margin-right: 13%;
    text-align: justify;
}
