.body {
    margin: 0;
}


.container {
    background-color : #fefefe;
    text-align: left;
    padding-top: 10vh;
    margin: 0 calc(25vw);
}
.title {
    margin-top: 2vh;
    margin-bottom: 3vh;
    font-weight: bold;
}

.nextPrevious {
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    color: rgb(12, 150, 241);
}

.date {
    display: block;
    margin-bottom: rhythm(1),
}



@media (max-width: 600px) {
    
    .container {
        background-color : #fefefe;
        margin: 0vh 5vw;
    }
}