.container {
    background-color : #fefefe;
    text-align: left;
    margin: 20vh 20vw;
}
.title {
    margin-top: 2vh;
    margin-bottom: 3vh;
    font-size: calc(15px + 3vw);
    font-weight: bold;
}

.nextPrevious {
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    color: rgb(12, 150, 241);
}

.date {
    font-size: calc(5px + 0.6vw);
    display: block;
    margin-bottom: rhythm(1),
}

